<div id="home" class="container-fluid">
  <div class="row" id="homeRow">
    <div class="col-md-4 hidden-xs hidden-sm">
      <img alt="Brand" src="./../styles/images/logo.png" class="img-responsive" id="logo">
    </div>
    <div class="col-xs-12 col-md-8 " id="qoute-block">
      <h1 id="quote"> Reshaping the User experience with <br> Query Resolving System </h1>
      <h2> Need Help? </h2>
      <h3 id="qoute2">We provide, <br><blockquote class="blockquote-reverse"> The knowledge you need for the lease <br> you want </blockquote></h3>
    </div>
  </div>
  <div class="center-block" id="letsStartdiv" ng-click='$ctrl.letsGetStarted()'>
    <h2 class="text-center" id="letsStart">Let's Get Started </h2>
  </div>
</div>
