<section id="singleQuery" ng-controller='singleQueryCtrl as singleQuery'>
     <div>
          <div class="panel panel-info">
               <div class="panel-heading">
                    <h3 class="panel-title">{{singleQuery.ticket.subject}}
                         <span>
                              <div class="btn-group" role="group" aria-label="Raised By">
                                   <button type="button" class="btn btn-default" ng-class = 'singleQuery.status.open' ng-click='singleQuery.statusState("open")'>Open</button>
                                   <button type="button" class="btn btn-default" ng-class = 'singleQuery.status.closed' ng-click='singleQuery.statusState("closed")'>Closed</button>
                              </div>
                         </span>
                    </h3>
               </div>
               <div class="panel-body">
                    <p> Raised By: {{singleQuery.ticket.user.name}}, &nbsp;&nbsp; At: {{singleQuery.ticket.createdOn | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
               </div>
          </div>
     </div>
     <div>
          <div class="panel panel-default" ng-repeat='answer in singleQuery.ticket.conversation'>
               <div class="panel-body">
                    <h3 class="panel-title">{{answer.msg}}</h3>
               </div>
               <div class="panel-footer">
                    <p> Raised By: {{answer.sentby.name}} ({{answer.sentby.designation}}), &nbsp;&nbsp; At: {{answer.sentOn | date:'yyyy-MM-dd HH:mm:ss Z'}}
                         <span>
                              <button type="button" class="btn btn-default" aria-label="Left Align" ng-click='singleQuery.deleteAnswer($index)'>
                                   <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                              </button>
                         </span>
                    </p>
                    </div>
               </div>
          </div>
     <div id="inputAnswer">
          <h2> Answer this query </h2>
          <textarea class="form-control" rows="3" ng-model='singleQuery.msg'></textarea>
          <button type="button" class="btn btn-primary" ng-click='singleQuery.postAnswer'>Post The Answer</button>
     </div>
</section>
